body {
    background: url('./Images/Background.jpg');
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.head-title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(215, 100, 117);
    font-size: 35px;
    font-weight: bold;
    -webkit-text-stroke: 1px white;
}

.head-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 110px;
    color: rgb(84, 73, 74);
    font-size: 20px;
    font-weight: bold;
}

.head-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.counter{
    padding-bottom: 25px;
}

.product-photo {
    width: 300px;
    height: 300px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.product-list {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 300px);
    gap: 20px;
}

.product-card {
    position: relative;
    transition: background-color 0.3s ease;
    border-radius: 15px;
    box-shadow: 4px 4px 4px 4px;
    background: rgb(150, 134, 149);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.in-cart {
    background: #ffcccb;
}

.favorite {
    fill: pink;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
}

.favorite-active {
    fill: yellow;
}

.button-add-to-cart {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(227, 164, 174);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 10px;

    &:hover {
        background-color: #c0a6ce;
    }
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p,
h3 {
    height: 5px;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: rgb(215, 100, 117);
    font-size: 16px;
    font-weight: bold;
    padding-top: 25px;

}

ul {
    list-style-type: none;
}

.nav-items {
    padding: 10px;
}

.added-to-cart {
    background: #7f6abf;
}