.addOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background: #b593e4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 999;
  width: 500px;
  height: 120px;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .close-btn {
    position: absolute;
    top: 7px;
    right: 10px;
    padding-right: 5px;
    padding-top: 7px;
    cursor: pointer;
    font-size: 16px;

    &:hover {
      color: #00000029;
    }
  }

  .modalBtn {
    min-width: 122px;
  }
}

.modal.open {
  display: block;
}


.close-icon {
  position: absolute;
  top: 7px;
  right: 5px;
  padding-right: 15px;
  padding-top: 7px;
  cursor: pointer;
  font-size: 20px;
  color: #fff;

  &:hover {
    color: #b593e4;
  }
}